/* styles.css */
body {
    font-family: 'Great Vibes', cursive;
    margin: 0;
    padding: 0;
    color: #6d6a75;
    background-color: #f8f9fa;
}

.container {
    text-align: center;
}

.header {
    background: url('main.webp') no-repeat center center;
    background-size: cover;
    padding: 100px 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-content {
    background: transparent;
    padding: 20px;
    border-radius: 10px;
}

.header h1, .header h2 {
    font-size: 3em;
    color: #333;
    margin: 5px;
}

.header p {
    font-size: 1.5em;
    color: #555;
}

/* Media Queries */
@media (max-width: 768px) {
    .header {
        background: url('main-min.jpg') no-repeat center center;
        padding: 50px 10px;
        height: 80vh;
    }

    .header-content {
        padding: 15px;
    }

    .header h1, .header h2 {
        font-size: 2em;
    }

    .header p {
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {
    .header {
        background: url('main-min.jpg') no-repeat center center;
        padding: 30px 5px;
        height: 80vh;
    }

    .header-content {
        padding: 10px;
    }

    .header h1, .header h2 {
        font-size: 1.5em;
    }

    .header p {
        font-size: 1em;
    }
}

.countdown {
    display: flex;
    justify-content: center;
    background: #fff;
    padding: 20px 0;
}

.countdown div {
    margin: 0 10px;
}

.countdown span {
    font-size: 2em;
    color: #333;
}

.countdown p {
    font-size: 1em;
    color: #777;
}

.details {
    background: url('flower-2.jpg') no-repeat center center;
    background-size: cover;
    padding: 50px 20px;
}

.details h2 {
    font-size: 2em;
    color: #333;
}

.details p {
    font-size: 1.2em;
    color: #777;
    margin: 20px 0;
}

.rsvp {
    padding: 10px 20px;
    background: #fff;
}

.rsvp h2 {
    font-size: 2em;
    color: #333;
}

.rsvp button {
    padding: 10px 20px;
    font-size: 1.2em;
    color: #fff;
    background-color: #7ebdc3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.rsvp button:hover {
    background-color: #6ba5a9;
    transform: scale(1.05);
}

.schedule {
    padding: 50px 20px;
    background: url('flower-4.jpg') no-repeat center center;
    background-color: #fff;
}

.schedule h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.timeline {
    position: relative;
    margin: 0 auto;
    padding: 10px 0;
    width: 80%;
    max-width: 800px;
}

.timeline-item {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    position: relative;
    align-items: center;
}

.timeline-time {
    font-size: 1.5em;
    color: #333;
    flex-shrink: 0;
    width: 100px;
    text-align: right;
}

.timeline-content {
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    margin-left: 20px;
    text-align: left;
}

.timeline-item::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #ccc;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.timeline-item:first-child::after {
    top: 50%;
}

.timeline-item:last-child::after {
    bottom: 50%;
}

/* Media Queries */
@media (max-width: 768px) {
    .schedule {
        padding: 50px 20px;
        background: url('flower-4.jpg') no-repeat center center;
    }

    .timeline {
        width: 100%;
    }

    .timeline-item {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }

    .timeline-time {
        text-align: left;
        margin-bottom: 10px;
        width: auto;
    }

    .timeline-content {
        margin-left: 0;
        font-size: 1.5em;
    }

    .timeline-item::after {
        left: 20px;
        transform: translateX(0);
    }
}

.map {
    padding: 0 20px;
    background: #fff;
}

.map h2 {
    font-size: 2em;
    color: #333;
}

#map {
    width: 100%;
    height: 800px;
    background-color: #ccc;
}

#map1 {
    width: 100%;
    height: 800px;
    background-color: #ccc;
}

#map2 {
    width: 100%;
    height: 800px;
    background-color: #ccc;
}

footer {
    padding: 20px;
    background: #333;
    color: #fff;
}

footer p {
    margin: 0;
}


.animated {
    animation-duration: 2s !important;
    animation-fill-mode: both !important;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fadeIn {
    animation-name: fadeIn;
}

.delay-1s {
    animation-delay: 1s;
}

.delay-2s {
    animation-delay: 1.5s;
}

.delay-3s {
    animation-delay: 2s;
}

.delay-4s {
    animation-delay: 2.5s;
}

.time-unit {
    opacity: 0;
}

.time-unit.animate {
    animation: appear 2s ease-out forwards;
}

@keyframes appear {
    0% { opacity: 0; transform: scale(0); }
    100% { opacity: 1; transform: scale(1); }
}

.details {
    opacity: 0;
}

.details.animate {
    animation: fadeIn 3s ease-out forwards;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.timeline-item {
    opacity: 0;
    transform: translateY(20px);
}

.timeline-item.animate {
    animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}
